$light_black: #5A5959;

@mixin position-relative($amount) {
  position: relative;
  top: $amount;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 4.2em;
  background-color: #fff;
  border-bottom: 1px solid #eee;

  img {
    width: 28px;
    padding-top: 0.8em;
  }

  h1 {
    margin-top: 0;
    color: #000;
  }

  li {
    display: inline;
    margin-right: 1.3em;
    color: #858585;
  }

  li:hover {
    color:#5A5959;
    cursor: pointer;
  }

  li:first-child {
    color: $light_black;
    font-weight: bold;
  }

  li:first-child:hover {
    color: #000;
  }

  ul {
    padding-left: 0;
    position: relative;
    top: 0.7em;
  }
}

.container {
  max-width: 58em;
  margin: 0 auto;
}

section:nth-child(2) {
  text-align: center;
  height: 40em;
  color: #fff;
  background: url(http://thinkful-ed.github.io/karma-clone/img/first-background.jpg) no-repeat center center;
  background-size: cover;

  .container {
    @include position-relative(12em);
    border: none;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0.3em;;
  }

  p {
    margin: 0;
    font-size: 1.4em;
  }

  a {
    display: inline-block;
    margin-top: 1.5em;
    padding: 1.3em 2em;
    background-color: #F15B2A;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3em;
  }

  a:hover {
    background-color: #D9400E;
  }

}

.icons {
  text-align: center;
  height: 30em;

  .container {
    position: relative;
    top: 6em;
  }

  img {
    width:130px;
  }
}

footer {
  text-align: center;
  height: 18em;

  p {
    color: $light_black;
    font-size: 0.9em;
  }

  .container {
    border-top: 1px solid #eee;

    div {
      width: 35px;
      height: 35px;
      border: 1px solid #eee;
      border-radius: 100%;
      display: inline-block;
      margin-right: 0.5em;
    }
  }


}

@media screen and (max-width: 992px) {
    nav {
      text-align: center;
      height: 14em;
      position: static;
      border: none;

      li {
        display: block;
        margin-top: 0.8em;
      }

      li:nth-child(4), li:nth-child(5) {
        display: none;
      }
    }

      section:nth-child(2) {
        border-top: 1px solid #eee;
      }

      .icons {
        margin-bottom: 20em;
      }
  }